@model ParkingEx3.Models.Reservas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <input readonly asp-for="UsuarioId" class="form-control" value="@ViewBag.usu"/>
            </div>

            <div class="form-group">
                <label asp-for="PlazaId" class="control-label"></label>
                <select asp-for="PlazaId" class="form-control" asp-items="ViewBag.PlazaId"></select>
            </div>
            @* <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input readonly asp-for="Precio" class="form-control" value="20" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horas" class="control-label"></label>
                <input asp-for="Horas" class="form-control" />
                <span asp-validation-for="Horas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioFinal" class="control-label"></label>
                <input readonly asp-for="PrecioFinal" class="form-control" />
                <span asp-validation-for="PrecioFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="Estado" class="control-label"></label>
                <input hidden asp-for="Estado" class="form-control" value="Activa"/>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function calcularPrecioFinal() {
            var precioFinalInput = document.getElementById('PrecioFinal');
            var precio = document.getElementById('Precio').value;
            var horas = document.getElementById('Horas').value;
            var precioFinal = precio * horas;
            precioFinalInput.value = precioFinal;
        }
        document.getElementById('Horas').addEventListener('change', calcularPrecioFinal);
        function confirmar() {
            var usu = document.getElementById('UsuarioId').value;
            var plaza = document.getElementById('PlazaId').value;
            var horas = document.getElementById('Horas').value;
            var precioFinal = document.getElementById('PrecioFinal').value;
            var datos = "Ususario: " + usu + "\n" + "Plaza: " + plaza + "\n" + "Horas: " + horas  + "\n" + "Precio Final: " + precioFinal;
            console.log(datos);
            alert("DETALLES DE LA RESERVA" + "\n" + datos);

        }
        form.addEventListener("submit", confirmar);

    </script>
}
